################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

src-auxiliar/.vs
src-auxiliar/AuxiliarWebApi/bin
src-auxiliar/AuxiliarWebApi/obj
