<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true" >
  <!-- permite cambiar configuración sin parar ejecución! -->

  <variable name="logDirectory" value="C:/Logs/GnbWebApi"/>

  <targets>
    
    <!--<target xsi:type="NLogViewer"
    name="viewer"
    includeSourceInfo="true"
    address="udp://127.0.0.1:9999"/>-->
    
    <target xsi:type="ColoredConsole" name="colored_console"/>

    <target
    layout="${level:uppercase=true} ${longdate}${newline}${logger}${newline}${message:withexception=true}${newline}"
    name="file1" xsi:type="File" fileName="${logDirectory}/${shortdate}.log"/>

  </targets>

  <rules>
    <logger name="*"
    minlevel="Information"
    writeTo="viewer,colored_console,file1" />
  </rules>
</nlog>